- name: ensure monit is installed
  package:
    name=monit
    state=present
- name: ensure monit config is present
  template:
    src=templates/monitrc.j2
    dest=/etc/monit/monitrc
    owner=root
    group=root
    mode=0600
  notify:
    - restart monit
  when: monit_manage_config == true
- name: ensure monit is running
  service:
    name=monit
    enabled=yes
    state=started

